.contact-information-street {
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.contact-information-email,
.contact-information-phone {
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
}
.logo-footer {
  color: var(--white-color);
}
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo {
  display: block;
  margin-bottom: 20px;
}
.contact-information-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.join-us {
  align-items: baseline;
  margin-right: 93px;
}
.join-us-title,
.sign-up-title {
  display: inline-block;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.join-us-list {
  display: flex;
}
.join-us-item {
  width: 44px;
  height: 44px;
}
.join-us-item:not(:last-child) {
  margin-right: 10px;
}
.join-us-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  fill: var(--white-color);

  transition: background-color 250ms var(--timing-function);
}
form{
  margin: 0;
  display: block;
}
.sign-up{
display: flex;
align-items: center;
}
.sign-up-email{
  display: flex;
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding-left: 16px;
    outline: none;
    color: var(--white-color);
}
.sign-up-btn{
  display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border: none;
    padding-left: 29px;
    padding-right: 29px;
}
.sign-up-div{
  display: flex;
}
 
  svg:not(:root) {
    overflow: hidden;
}
    .sign-up-icon{
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--white-color);
    }

.footer-container {
  display: flex;
  padding-right: 70px;
  align-items: baseline;
}
.join-us-link:hover {
  background-color: var(--accent-color);
}
.footer-contacts {
  margin-right: 70px;
}