.what-we-do {
  text-align: center;
}
.what-we-do-title {
  margin-bottom: 50px;
}
.what-we-do-list-item:not(:last-child) {
  margin-right: 30px;
}
.what-we-do-list-item{
  position: relative;
}
.what-we-do-text{
position: absolute;
bottom: 0;
width: 100%;
display: block;

font-weight: bold;
font-size: 14px;
line-height: 1.143
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-top: 27px;
padding-bottom: 27px;

color: var(--white-color);
background-color: rgba(47, 48, 58, 0.8);
}